<html lang="en">
<head ng-app="formpage">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>COMMUNEV</title>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script type = "text/javascript" src="app.component.js" ></script> 
  <script src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>


</head>
<body ng-controller="formpage">
 
    <br />
    <div class="container bgcolor">
      <div class="container" style="margin-left: 2.5%; width:95%;margin-top:5%; padding-bottom: 6%;  margin-right:30%;border-bottom: 1px solid #ccc;">
        <div class="row ">
        <div class = "col-md-4" style=" margin-left:-3%;text-align: center;">
          <div class = "p-img ">
            <img src = "https://www.bigstockphoto.com/images/homepage/module-6.jpg">
          </div>
        </div>
        <div class = "col-md-3" >
          <div class = "profile-info " >
            <h3 class = "name" style=" margin-top: 20px;">Isabelle Smith</h3>
            <h3 class = "u-name" style=" margin-top: 8px ;color: rgb(88, 85, 82);">isabellesmith45</h3>
            <h3 class = "city" style=" margin: 2px !important;">Chicago</h3>
          </div>
        </div>
        </div>
      </div>
      <div class="row">
    <div  class = "col-md-4">
  
   
      <div class="line-content " style="padding-left: 8%; padding-top: 7%; text-align: center;">

        <!-- Subtitle -->
        <h3 class="section-item-title-1 " style = "padding-bottom: 10px;  "><b>INTERESTS </b></h3>
        <!-- /Subtitle -->
        <!-- content -->
        <ul class="skills-list">
          <!-- item-list -->
          <li>
            <div  class = "progress-bar-success"style=" margin: 5px 0px;padding:5px 20px; display: inline-block;border-radius: 25px;" >MUSIC</div>
          </li>
          <!-- /item list -->
          <!-- item-list -->
          <li>
            <div  class = "progress-bar-info"style=" margin: 5px 0px; padding:5px 20px; display: inline-block; border-radius: 25px;" >HOCKEY</div>
        
            
          </li>
          <!-- /item list -->
          <li>
            <div  class = "progress-bar-danger"style=" margin: 5px 0px; padding:5px 20px; display: inline-block; border-radius: 25px;" >PROGRAMMING</div>
           
          </li>
          <!-- /item list -->
          <li>
            <div  class = "progress-bar-warning"style=" margin: 5px 0px; padding:5px 20px; display: inline-block; border-radius: 25px;" >SINGING</div>
            
          </li>
          
        </ul>
      </div> 
    </div>
  
  
    <div class = "col-md-8 bgcolor offset-md-8" style="margin-top: 2%;">
  
      <div class="timeline-wrap">
        <div class="timeline-bg">
          <!-- PROFILE INFO -->
          <section class="timeline profile-infos">
          </section>
          <!-- ==>> /SECTION: PROFILE INFOS -->    
          <!-- SECTION INTERESTS  -->
          <section class="timeline interests" id="interests">

        
            <!-- SECTION TITLE -->
            <div class="line row">
              <!-- Margin Collums (necessary for the timeline effect) -->
                       
              <!-- /Margin Collums -->
              <!-- Item Content -->
              <div class="col-md-9 content-wrap bg1" style="width: 96%; text-align: center;">
                <!-- Section title -->
                <h3 class="section-item-title-1" style = "padding-bottom: 10px; "><b>EVENTS ATTENDED </b></h3>
                <!-- /Section title -->
              </div>
              <!-- /Item Content -->
             
            </div>
            <!-- /SECTION TITLE -->

            <!-- SECTION ITEM -->
            <div class="line row">
              
              <!-- Item Content -->
              <div class="col-md-8 content-wrap bg1">
                <div class="line-content line-content-interests">
                 
                <div class="container">
                <div class="row">
                  <div class="col-md-2 " style="text-align: center; padding: 10px;">
                    <!-- image here-->
                     <img height = "120px" width = "160px" src = "https://i.pinimg.com/564x/5a/99/fb/5a99fbb9f8c954d369e58033aac42e33.jpg">

                  </div>


                  <div class="col-md-5">
                     <!-- events title --> <h3 class="section-item"> Holi Events</h3>
                  <!-- /events title -->
                     <!-- events time -->
                  <h4 class="events-time"><span class="events-date">May 2019 , Hyderabad</span></h4>
                  <!-- /events time -->
                  <!-- content -->
                  <div class="events-description">
                    <p>Holi is considered as one of the most revered and celebrated festivals of India and it is celebrated in almost 
                      every part of the country.</p>
                  </div>
                  <!-- /Content -->
                  </div>
                </div>
              </div>


                 
                </div>
              </div>
              <!-- /Item Content -->
            </div>
            <!-- /SECTION ITEM -->   

            <!-- SECTION ITEM -->
          <div class="line row">
              <!-- Margin Collums (necessary for the timeline effect) -->
            
              <!-- /Margin Collums -->
              <!-- Item Content -->
              <div class="col-md-8 content-wrap bg1 ">
                <div class="line-content line-content-interests">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-2" style="text-align: center; padding: 10px;">
                        <!-- image here-->
                        
                           <img height= "120px" width = "160px" src = "https://goop.com/wp-content/uploads/2016/12/holidays-GS01061634.jpg">
                      </div>
                <div class="col-md-5">


                  <!-- events title -->
                  <h3 class="section-item">Gatherings</h3>
                  <!-- /events title -->
                  <!-- events time -->
                  <h4 class="events-time"><span class="events-date">june 24 , Delhi</span></h4>
                  <!-- /events time -->
                  <!-- content -->
                  <div class="events-description">
                    <p>The city is hosting a gathering of business leaders next month.
                      They met at a social gathering organized by the company.
                      
                      </p>
                  </div>
                  <!-- /Content -->
                </div>
              </div>
              <!--/Item Content -->
            </div>
            </div>
            </div>
            </div>
            <!-- /SECTION ITEM -->   

             <!-- SECTION ITEM -->
            <div class="line row">
              <!-- Item Content -->
              <div class="col-md-8 content-wrap bg1">
                <div class="line-content line-content-interests">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-2"  style="text-align: center; padding: 10px;">
                        <!-- image here-->
                         <img height= "120px" width = "160px" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS0NRnxgfRaPtcAAyxCFncwB7SxoMnslnL-VXFarHSqrNbxEoWp&usqp=CAU">
    
                      </div>

                      <div class="col-md-5">
                  <!-- events title -->
                  <h3 class="section-item">Social</h3>
                  <!-- /events title -->
                  <!-- events time -->
                  <h4 class="events-time"><span class="events-date">May 2013 , Chandigarh</span></h4>
                  <!-- /events time -->
                  <!-- content -->
                  <div class="events-description">
                    <p>Every single nation or maybe a population group lifestyle in a single features its own societal fests. Whether or not they 
                      think they don’t essentially sort out this sort of situations. </p>
                  </div>
                  <!-- /Content -->
                  </div>

                </div>
              </div>
              <!-- /Item Content -->
              
            </div>
            </div>
            </div>
        
            <!-- /SECTION ITEM -->       
          </section>
          
        </div>
      </div>
    
  </div>
  </div>
   <!-- ============  FOOTER ================= -->
   <footer id="footer" class="row" >
    <!-- Put your Quote Here-->
    <p class="quote">"ACHIEVE MASTERY"</p>
    <!-- /Quote -->
    <!-- Quote Autor -->
    <p class="company">COMUNEV COMPANY</p>
    <!-- /Quote Autor -->
  </footer>
  </div>
  
</body>
</html>